/**
 * Title:
 *    Navigation
 * Description:
 *    The .nav module and its extensions
 * Sections:
 *    $. Variables
 *    $. Container
 *    $. Component
 *    $. Primary
 *    $. Secondary
 *    $. Tertiary
 */



/* $. Variables
\*----------------------------------------------------------------*/

$color-nav: $color-link;



/* $. Container
\*----------------------------------------------------------------*/

.nav-container {
    position: relative;
}



/* $. Component
\*----------------------------------------------------------------*/

.nav {
    @extend %cf;
    @extend %list--unset;
}

.nav__item {
    margin-bottom: 0;

    @include respond-min($bp3) {
        display: inline-block;
        margin-left: $base;

        &:first-child {
            margin-left: 0;
        }

        &.is-current .nav__link {
            color: $color-brand-secondary;
        }
    }
}

.nav__link {
    display: block;
    padding: $base*0.4 $base;
    color: $white;
    transition: color .3s;

    @include respond-min($bp3) {
        padding: 0;
    }

    &:hover, &:focus {
        color: $color-brand-secondary;
    }
}



/* $. Primary
\*----------------------------------------------------------------*/

.nav--primary {
    font-size: 1.2rem;

    @include respond-min($bp3) {
        margin-top: $base*2.14;
        font-size: 1.1666666rem;

        .nav__link {
            // &:hover {
            //     color: $color-brand-secondary;
            // }
        }
    }

    @include respond-min($bp4) {
        margin-top: $base*1.325;
        font-size: 1.555555rem;
    }
}



/* $. Secondary
\*----------------------------------------------------------------*/

.nav--secondary {
    .nav__link {
        font-size: 1.2rem;
    }

    @include respond-min($bp3) {
        position: absolute;
        top: 0;
        right: 0;

        .nav__item.is-current {
            .nav__link {
                color: $color-brand-secondary;
            }
        }

        .nav__link {
            font-size: $base;
        }
    }
}



/* $. Tertiary
\*----------------------------------------------------------------*/

.nav--tertiary {
}
