

.woocommerce-message,
.woocommerce-error,
.woocommerce-info {
	padding: 1em 2em 1em 3.5em;
	margin: 0 0 2em;
	position: relative;
	background-color: lighten($grey-light, 5%);
	color: $color-text;
	border-top: 3px solid $color-brand-primary;
	list-style: none outside;

	@include clearfix();
	width: auto;
	word-wrap: break-word;

	&::before {
		font-family: "WooCommerce";
		content: "\e028";
		display: inline-block;
		position: absolute;
		top: 1em;
		left: 1.5em;
	}

	.button {
		float: right;
		padding: 0;
	}

	li {
		list-style: none outside !important; // Required for default theme compatibility
		padding-left: 0 !important; // Required for default theme compatibility
		margin-left: 0 !important; // Required for default theme compatibility
	}
}

/**
 * Right to left styles
 */
.rtl.woocommerce .price_label,
.rtl.woocommerce .price_label span {

	/* rtl:ignore */
	direction: ltr;
	unicode-bidi: embed;
}

.woocommerce-message {
	border-top-color: #8fae1b;

	&::before {
		content: "\e015";
		color: #8fae1b;
	}
}

.woocommerce-info {
	border-top-color: #1e85be;

	&::before {
		color: #1e85be;
	}
}

.woocommerce-error {
	border-top-color: #b81c23;

	&::before {
		content: "\e016";
		color: #b81c23;
	}
}
