/**
 * Title:
 *    Extras
 * Description:
 *    Any other helpers which will be used throughout the project
 * Sections:
 *    $. Clearfix
 *    $. Flexible
 *    $. States
 *    $. Breakpoint Visibility
 */



/* $. Clearfix - http://goo.gl/5Fvrh
\*----------------------------------------------------------------*/

%cf,
.cf {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



/* $. Flexible
\*----------------------------------------------------------------*/

.flexible {
    position: relative;
    height: 250px;
    overflow: hidden;

    @include respond-min($bp2) {
        height: 300px;
    }

    @include respond-min($bp3) {
        height: 400px;
    }

    iframe,
    object,
    embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}



/* $. States
\*----------------------------------------------------------------*/

/* Visually Hidden */
.is-hidden {
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
}

.is-current,
.is-current a {
    color: $color-brand-secondary;
}



/* $. Breakpoint Visibility
\*----------------------------------------------------------------*/

.is-visible--bp2 {
    display: none;

    @include respond-min($bp2) {
        display: block;
    }
}

.is-visible--bp4 {
    display: none;

    @include respond-min($bp4) {
        display: block;
    }
}

.is-hidden--bp2 {
    @include respond-max($bp2) {
        display: none;
    }
}

.is-hidden--bp3 {
    @include respond-max($bp3) {
        display: none;
    }
}

.acm-home {
    height: 75px;

    @include respond-min($bp3) {
        height: 100px
    }
}

.home-intro__wrap {
    @include respond-min($bp3) {
        display: flex;
    }
}
.home-intro__icons {

}

.home-intro {
    padding-top: $base;
    clear: both;
    flex: 1;

    @include respond-min($bp3) {
        margin-left: $base;
        padding-top: 0;
    }
}

.open-hours {
    background: $color-brand-primary;
    color: $white;
    padding: $base 0 $base*1.5 0;

    .icon {
        @include respond-min($bp3) {
            position: absolute;
        }
    }

    .container {
        min-height: 60px;
    }
}

.open-hours__list {

    margin-top: $base/2;

    @include respond-min($bp3) {
        position: relative;
        top: -6px;
        margin-left: calc(#{$base} + 60px);
    }

    li {
        margin-right: $base/2;
        margin-left: 0;

        // @include respond-min($bp4) {
        //     margin-right: $base*1.5;
        // }
    }
}

.celebration {
    max-height: 70px;
}

.celebration--home {
    @include respond-min($bp2) {
        max-height: 80px;
    }
    @include respond-min($bp3) {
        max-height: 100px;
    }
}


/* Text meant only for screen readers. */
.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal !important;
  }
