.article__body {
    border-top: 3px solid $grey-lighter;
    padding-top: $base;
    margin-bottom: $base;

    @include respond-min($bp2) {
        margin-bottom: $base*2;
    }
}

.article__body p a {
    margin-right: $base/3;
}

// .article__body p a:last-of-type {
//     &:before {
//         content: ', ';
//         margin-left: -.25em;
//     }
// }
