/**
 * Title:
 *    Button Module
 * Description:
 *    The .btn module and its extensions
 * Sections:
 *    $. Setup
 *    $. Component
 *    $. Modifications
 */



/* $. Setup
\*----------------------------------------------------------------*/

%btn {
    display: inline-block;
    padding: ($base/2) $base;
    border: 0;
    border-radius: $base * 1.5;
    transition: all .15s ease-out;
    cursor: pointer;
}

@mixin btn( $text, $bg, $htext: $text, $hbg: darken($bg, 10%) ) {
    color: $text;
    background: $bg;

    &:hover,
    &:focus {
        color: $htext;
        background: $hbg;
    }
}



/* $. Component
\*----------------------------------------------------------------*/

button,
input[type="button"],
input[type="submit"],
.btn,
.button {
    @extend %btn;
}



/* $. Modifications
\*----------------------------------------------------------------*/

/**
 * Themes
 */

.btn--primary {
    @include btn($white, $color-brand-primary);
}

.btn--primary-border {
    @include btn($color-brand-primary, $white, );

    border: solid 2px $color-brand-primary;

    &:hover {
        color: white;
        background: $color-brand-primary;
    }
}

.btn--white {
    @include btn($color-brand-primary, $white);
}

.btn--bordered-white {
    @include btn($white, transparent, $color-brand-secondary, $white);
    border: solid 1px $white;
}

.btn--contact {
    @include btn($white, $color-brand-primary);
    margin-top: 0;
}

.btn--black {
    @include btn($white, $black);
}

.btn--secondary {}
.btn--tertiary {}
.btn--invert {}

/**
 * Position and size
 */

.btn--blocked {
    width: 100%;
    text-align: left;
}

.btn--large {
    font-size: 1.2rem;
    border-radius: 30px;
    padding: ($base*.75) $base*1.25;
}

.btn--small {
    font-size: .8rem;
}

.btn--square {
    border-radius: 0;
}

/**
 * Icons
 */

.btn--icon {
    position: relative;
    padding-right: $base*2.5;

    .icon          {}
    .icon--small   {}
    .icon--medium  {}
    .icon--large   {}
    .icon--xlarge  {}
}

