/**
 * Title:
 *    Cards
 * Description:
 *    Responsible for all sizes and styling of card elements
 * Sections:
 *    $. Base
 *    $. Variations
 *
 */


/* $. Base
\*----------------------------------------------------------------*/
$grid-space: .9em;

.cards {
    @include respond-min($bp2) {
        margin: $grid-space 0 0;
    }
}

.card {
    width: 100%;
    padding: $base;
    margin-bottom: $grid-space;

    @include respond-min($bp2) {
        padding: 1.7em;
    }
}

.card, .card__image {
    border-radius: 10px;
}



/* $. Elements
\*----------------------------------------------------------------*/

.card__content {
    h1 {
        font-weight: $weight-medium;
        margin-bottom: $base/4;
    }
}

.card-list {
    margin: 0;
    overflow: hidden;
}

.card-list__item {
    float: left;
    margin-bottom: 0;
    font-size: 1.3rem;
    line-height: 2.25rem;
}

.card-list__item--double {
    width: 50%;
}

.card-list__item, .card__title {
    &:before {
        margin-right: $base/2;
        color: $color-link;
        font-weight: $weight-semi-bold;
        content: "\003e";
    }
}

/* $. Variations
\*----------------------------------------------------------------*/

.card--introductory .card__content {
    @include respond-min($bp3) {
        width: calc(50% - 1em);
        float: left;
    }
}

.card--introductory .card__image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 280px;

    @include respond-min($bp3) {
        width: calc(50% - 3em);
        float: right;
        height: 280px;
    }
}

.card--featured {
    margin-bottom: 0;
    background: $blue-light;
}

.card--featured .card__content {
    h1 {
        font-weight: $weight-semi-bold;
    }

    @include respond-min($bp3) {
        width: 75%;
        margin: 0 auto;
    }
}

.card--grey {
    background: $grey-light;
}

.card--green {
    background: #D3EAC4;
}
