/**
 * Title:
 *    Content
 * Description:
 *    Content coming from the CMS
 * Sections:
 *    $. Content
 */



/* $. Content
\*----------------------------------------------------------------*/

.content {
    max-width: 775px;

    > *:last-child {
        margin-bottom: $base;
    }

    a:not(.btn) {
    }
}
