/**
 * Title:
 *    Content
 * Description:
 *    Content coming from the CMS
 * Sections:
 *    $. Content
 */



/* $. Content
\*----------------------------------------------------------------*/

.content {
    max-width: 850px;

    // > *:last-child {
    //     margin-bottom: $base;
    // }

    a:not(.btn) {
    }
}

// .body--introduction {
//     width: 90%;
// }

.content--full {
    max-width: 100%;
}
