/**
 * Title:
 *    Header
 * Description:
 *    Header layout module, used to define the header at the top of each page.
 *    This could be used in combination with other components to create a
 *    fully-fledged design.
 * Sections:
 *    $. Base
 *    $. Logo
 *    $. Nav
 *    $. Toggle
 *    $. Search
 */



/* $. Base
\*----------------------------------------------------------------*/

.header {
    @extend %cf;
    position: relative;
    background: $color-brand-primary;

    @include respond-min($bp3) {
        padding: $base*1.5 0;
    }
}


/* $. Logo
\*----------------------------------------------------------------*/

.header__logo {
    float: left;

    h1 {
        color: $white;
    }

    p {
        color: $color-brand-secondary;
    }

    // img {
    //     width: 162px;
    //     padding: $base/2;
    // }

    @include respond-min($bp1) {
        // img {
        //     width: 190px;
        // }
    }

    @include respond-min($bp3) {
        // img {
        //     width: 217px;
        //     padding: 0;
        // }
    }
}


/* $. Nav
\*----------------------------------------------------------------*/

.header__nav {
    clear: both;
    display: none;
    position: relative;
    z-index: $z-index-2;
    background-color: $color-brand-primary;

    @include respond-min($bp3) {
        display:block;
        clear: none;
        float: right;
        text-align: right;
        background-color: transparent;
    }

    .is-active-nav & {
        display: block;
    }
}



/* $. Toggle
\*----------------------------------------------------------------*/

.header__toggle {
    display: block;
    float: right;

    @include respond-min($bp3) {
        display: none;
    }
}

.is-active-nav .header__toggle--nav,
.is-active-search .header__toggle--search {
}




/* $. Search
\*----------------------------------------------------------------*/

.header__search {
    .is-active-search & {
    }
}
