/**
 * Title:
 *    Sidebar
 * Description:
 *    Used to display the Sidebar's styling on pages or posts
 *    which have one.
 * Sections:
 *    $. Base
 */



/* $. Base
\*----------------------------------------------------------------*/

.sidebar {
    font-size: 1.1rem;
}



/* $. Elements
\*----------------------------------------------------------------*/

.sidebar__section {
    @extend .panel;
    @extend .panel--grey;
    margin-bottom: $base;
    padding: $base;
}

.sidebar__heading {
    margin-bottom: $base/4;
}

.sidebar__list {
    list-style: none;
    margin: $base/2 0 0 0;

    li.is-current, li.is-current a {
        color: $color-text;
    }

    :last-of-type {
        margin-bottom: 0;
    }
}

.sidebar__list li {
    margin-bottom: $base/4;

    &:before {
        margin-right: $base/2;
        color: $color-link;
        font-weight: $weight-semi-bold;
        content: "\003e";
    }
}

.sidebar__list li.is-current:before {
    color: $color-text;
}
